@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
  width: 100%;
  height: auto;
}

/* scroll-bar */

::-webkit-Scrollbar{
    width: 10px; 
	background: whitesmoke;
}
::-webkit-Scrollbar-thumb{
	border-radius: 7px;
	background: black;
	box-shadow: inset 0 0 20px rgba(202, 202, 202, 0);
}
::-webkit-Scrollbar-track{
	margin-top: 80px;
	border-radius: 0px;
}

/* Navbar */
* {
	box-sizing: border-box;
}


header{
  top: 0;
	transition: 0.3s;

  margin: 0 auto;
	width: 100%;
	height: 50px;
	display: flex;
   align-items: center;

	z-index: 5;
	
  background: rgba(255, 255, 255, 0);
	position: fixed;
	 backdrop-filter: blur(50px);
}


html{
  scroll-behavior: smooth;
}
body {
	margin: 0%;
  width: 100%;
  height: auto;
}


.navbar {
	height: 60px;
	width: 100%;
  position: relative;
  /* 
  align-items: center;
justify-content: space-around; 
	z-index: 5;



  background-image: -webkit-linear-gradient(right, #ffffff, 0%, #ffffff, 100%);
	background-image: -moz-linear-gradient(right, #e0ecf1 0%, hsl(171, 30%, 92%) 100%);
	background-image: linear-gradient(to right, #eff6fa 0%, hsl(0, 0%, 100%) 100%);
*/
backdrop-filter: blur(50px);
 background: rgba(255, 255, 255, 0.966);
}
.sticky {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar-header {
	display: inline;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

/* .navbar-title {
  font-family: 'Open Sans', sans-serif;
	position: relative;
	display: inline-block;
	font-size: 15px;
  padding-left: 5%;
	font-weight: bold;
	color: #000000;
} */

.nav-logo{
    width: 90px;
    height: 45px;
    border-radius: 50%;
    position: relative;
    left: 25px;
    cursor: pointer;
    overflow: hidden;
    top: 3px;
}

.navbar-responsive-button {
	display: none;
  padding-right: 2%;
}

.navbar-links {
	display: inline;
	float: right;
	font-size: 20px;
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
}

.navbar-links > a {
	display: inline-block;
	padding: 10px 15px 10px 18px;
	text-decoration: none;
	color: #020202;
  font-family: 'Open Sans', sans-serif;
}

.navbar-links > a:hover {
	background-color: rgb(0, 0, 0);
  color: #ffffff;
}

#navbar-checkbox {
	display: none;
}

@media (max-width:600px) {
	.navbar-responsive-button {
		display: inline-block;
		position: relative;
		float: right;
		top: 50%;
		transform: translate(0, -50%);
	}

	.navbar-responsive-button > label {
		display: inline-block;
		width: 50px;
		height: 50px;
		padding: 13px;
	}

  .navbar-responsive-button > label:hover {
		background-color: rgba(0, 0, 0, 0.5);
    color: #d3d3d3
	}
  
  #navbar-checkbox:checked ~ .navbar-responsive-button > label {
		background-color: rgba(0, 0, 0, 0.5);
	}

	.hamburger-icon {
		display: block;
		height: 10px;
		width: 25px;
		border-top: 3px solid #eeeeee;
	}

	.navbar-links {
		position: relative;
		display: block;
		width: 100%;
		height: 0%;
    top: 50%;
		left: 0%;
    transform: translate(0, -4%);
    transition: all 0.2s linear;
		overflow-y: hidden;
    background-color: #585353;
	}

	.navbar-links > a {
		display: block;
		width: 100%;
	}

	#navbar-checkbox:checked ~ .navbar-links {
		height: 100vh;
    overflow-y: auto;
	}

	#navbar-checkbox:not(:checked) ~ .navbar-links {
		height: 0%;
	}
}
/* Back to top */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */ /* Set a background color */
  color:black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 0px; /* Some padding */
  /* Rounded corners */
  font-size: 25px; /* Increase font size */
}

/* Introduction */
.introig{
  display: block;
  padding-top: 30px;
  padding-left: 25px;
  padding-right: auto;
  width:50%;height: auto;
}
.introig1{
  display: block;
  position: absolute;
  top:10%;left: 90%;
  width:10%;height: auto;
}
.introig2{
  display: block;
  position: absolute;
  top:9%;left: 85%;
  width:10%;height: auto;
}
.introig3{
  display: block;
  position: absolute;
  top:13%;left: 78%;
  width:13%;height: auto;
}
.introig4{
  display: block;
  position: absolute;
  top:22%;left: 75%;
  width:6%;height: auto;
}
.introig5{
  display: block;
  position: absolute;
  top:17%;left: 70%;
  width:30%;height: auto;
}
.introig6{
  display: block;
  position: absolute;
  top:18%;left: 65%;
  width:16%;height: auto;
}
.introig7{
  display: block;
  position: absolute;
  top:25.3%;left: 85%;
  width:15%;height: auto;
}
.introig8{
  display: block;
  position: absolute;
  top:51%;left: 80%;
  width:10%;height: auto;
}
.introh{
position: absolute;
width: 361px;
height: 116px;
left: 710px;
top: 250px;
font-family: 'Pacifico', cursive;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 126px;
display: flex;
align-items: center;
text-align: center;
color: #FF1212;
}
.introh1{
  position: absolute;
width: 508px;
height: 153px;
left: 700px;
top: 220px;
font-family: 'Oswald', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 230px;
line-height: 519px;
display: flex;
align-items: center;
text-align: center;
color: #0a0020;
}
.introh2{
position: absolute;
width: 300px;
height: 116px;
left: 60px;
top: 780px;
font-family: 'Pacifico', cursive;
font-style: normal;
font-weight: normal;
font-size: 40px;
display: flex;
align-items: center;
text-align: left;
color: #FF1212;
}
.introig9{
  display: block;
  position: absolute;
  top:111%;left: 40%;
  width:15%;height: auto;
}
.introig10{
  display: block;
  position: absolute;
  top:111%;left: 32%;
  width:30%;height: auto;
}
.introig11{
  display: block;
  position: absolute;
  top:130%;left: 28%;
  width:15%;height: auto;
}
.introig12{
  display: block;
  position: absolute;
  top:150%;left: 23%;
  width:30%;height: auto;
}
.introig13{
  display: block;
  position: absolute;
  top:130%;left: 46.5%;
  width:40%;height: auto;
}
.introig14{
  display: block;
  position: absolute;
  top:120%;left: 55%;
  width:15%;height: auto;
}
.introig15{
  display: block;
  position: absolute;
  top:112%;left: 57%;
  width:30%;height: auto;
}
.introig16{
  display: block;
  position: absolute;
  top:110%;left: 53%;
  width:40%;height: auto;
}
/* Part1 */
.part1ig{
  display: block;
  position: absolute;
  top: 200%;
  left: 35%;
  width:60%;height: auto;
}
.part1h{
  position: absolute;
  top: 166%;
  left: 20%;
  font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 150px;
line-height: 419px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
}
.part1ig1{
  display: block;
  position: absolute;
  top: 230%;
  left: 5%;
  width:30%;height: auto;
}
.part1ig2{
  display: block;
  position: absolute;
  top: 201%;
  left: 16%;
  width:12%;height: auto;
}
.part1ig3{
  display: block;
  position: absolute;
  top: 232.5%;
  left: 25%;
  width:3%;height: auto;
}
.part1p{
  display: block;
  position: absolute;
  top: 236.5%;
  left: 12%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  width:40%;height: auto;
  font-size: 24px;
}
.part1ig4{
  display: block;
  position: absolute;
  top: 205.5%;
  left: 55%;
  width:25%;height: auto;
}
.part1ig5{
  display: block;
  position: absolute;
  top: 239.5%;
  left: 57.5%;
  width:20%;height: auto;
}
.part1h1{
  display: block;
  position: absolute;
  top: 236.5%;
  left: 63%;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  width:10%;height: auto;
  font-size: 20px;
  color: white;
}
.part1ig6{
  display: block;
  position: absolute;
  top: 249.5%;
  left: 53.5%;
  width:30%;height: auto;
}
/* Talents */
.tig{
  display: block;
  position: absolute;
  top: 300%;
  width: 100%;
  height: auto;
}
.th{
  display: block;
  position: absolute;
  top:300%;
  left:21%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 100px;
  
}
.tig1{
  display:flex;
  padding-top: 102%;
  width: 100%;
  height: auto;
}
.tfig1{
  display: flex;
  position: absolute;
  top:380%;
  left:5%;
  width: 25%;
}
.tfig2{
  display: flex;
  position: absolute;
  top:390%;
  left:40%;
  width: 25%;
}
.tfig3{
  display: flex;
  position: absolute;
  top:370%;
  left:70%;
  width: 25%;
}
.tfig4{
  display: flex;
  position: absolute;
  top:450%;
  left:5%;
  width: 25%;
}
.tfig5{
  display: flex;
  position: absolute;
  top:470%;
  left:40%;
  width:55%;
}
.tfig6{
  display: flex;
  position: absolute;
  top:560%;
  left:5%;
  width:55%;
}
.tfig7{
  display: flex;
  position: absolute;
  top:560%;
  left:70%;
  width:20%;
}
.tfig8{
  display: flex;
  position: absolute;
  top:630%;
  left:5%;
  width:20%;
}
.tfig9{
  display: flex;
  position: absolute;
  top:630%;
  left:35%;
  width:25%;
}
.tfig10{
  display: flex;
  position: absolute;
  top:650%;
  left:70%;
  width:20%;
}
#talents button{
  border-radius: 25px;
   background: #4E4E4E;
   color: white;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-style: normal;
   font-weight: 400;
   padding: 5px 30px 5px 30px;
   border-color: black;
   letter-spacing: 1px;
   cursor: pointer;
}
#talents button:hover{
  color: black;
  background: white;
}
.f{
  display: flex;
  position: absolute;
  top: 428%;
  left: 10%;
}
.f2{
  display: flex;
  position: absolute;
  top: 452%;
  left:45%;
}
.f3{
  display: flex;
  position: absolute;
  top: 425%;
  left:75%;
}
.f4{
  display: flex;
  position: absolute;
  top: 538%;
  left:12%;
}
.f5{
  display: flex;
  position: absolute;
  top: 528%;
  left:60%;
}
.f6{
  display: flex;
  position: absolute;
  top: 605%;
  left:24%;
}
.f7{
  display: flex;
  position: absolute;
  top: 625%;
  left:74.5%;
}
.f8{
  display: flex;
  position: absolute;
  top: 665%;
  left:9%;
}
.f9{
  display: flex;
  position: absolute;
  top: 695%;
  left:43%;
}
.f10{
  display: flex;
  position: absolute;
  top: 685%;
  left:72.5%;
}
.th1{
  display: block;
  position: absolute;
  top:730%;
  left:5%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 120px;
}
.th2{
  display: block;
  position: absolute;
  top:710%;
  left:42%;
 font-family: Poppins;
 font-style: normal;
 font-weight: 700;

  font-size: 100px;
  color: white;
}
.th3{
  display: block;
  position: absolute;
  top:730%;
  left:69%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
font-size: 105px;
}

.th4{
  display: block;
  position: absolute;
  top:780%;
  left:38%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 100px;

}
/* Part2 */
#part2{
  background-color: black;
  position: absolute;
  top: 835%;
  padding: 50% 100% 0% 0%;
}
.part2h{
  position: absolute;
  top:-4%;
  left:10%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  color: white;
  letter-spacing: 3px;
  
  /* font-style: bold;
  font-weight: 900; */
}
.part2ig{
  position: absolute;
  top: 22.54%;left:10%;
  width: 25%;
  height: auto;
}
.part2ig2{
  position: absolute;
  top: 22.8%;left:10%;
  width: 25%;
  height: auto;
}
.part2ig3{
  position: absolute;
  top: 23.5%;left:10%;
  width: 25%;
  height: auto;
}
.part2ig1{
  position: absolute;
  top:25%;
  left:10%;
  width: 20%;
  height: 60%;
}
.part2h1{
  position: absolute;
  top:11%;
  left:36%;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-style: normal;font-weight: 400;
  font-size: 35px;
  color: #00FFF0;
  letter-spacing: 3px;
}
.part2p{
  position: absolute;
  top:29%;
  left:50%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-style: normal;font-weight: 400;
  font-size: 25px;
  color: white;
  text-align: center;
  letter-spacing: 3px;
  width: 40%;
}
/* Part3 */
.part3h{
  position: absolute;
  top:935%;
  left:2%;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-style: normal;font-weight: bold;font-size: 80px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 90%;
line-height: 100px;
}
.part3ig{
  float: left;
  width: 33.33%;
  padding: 5px;
  padding-top: 95%;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}


 .banner {
	 position: relative;
	 width: 100%;
	 height: 100vh;
	 overflow: hidden;
}
 .banner video {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 object-fit: cover;
}
 .banner h2 {
	 position: absolute;
	 top: 0;
	 left: 0;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 width: 100%;
	 height: 100%;
	 margin: 0;
	font-family:"Montserrat", sans-serif;font-style: normal;font-weight: bold;font-size: 400px;
	 text-align: center;
	 animation: anim-text-color 16s infinite linear;
	 text-transform: uppercase;
	 background-color: #fff;
	 mix-blend-mode: screen;
}
 /* @keyframes anim-text-color {
	 0%, 100% {
		 color: #36b5b0;
	}
	 20% {
		 color: #380e7f;
	}
	 40% {
		 color: #6915cf;
	}
	 60% {
		 color: #d62196;
	}
	 80% {
		 color: #6807f9;
	} */
}
.part4{
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
  height: auto;
}
.part4ig{
  width: 100%;
  height: 80%;
}

.part4h{
  font-family: Poppins;font-style: normal;font-weight: bold;
  font-size: 110px;
  
  color: white;
  position: absolute;
  top: 1200%;
  left:10%;
  text-align: center;
  width: 650px;
}
.part4p{
  font-family: Poppins;font-style: normal;font-weight: normal;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 1260%;
  left:11%;
  text-align: center;
  width: 600px;
  letter-spacing: 1px;
  background-color: transparent;
}
.part4b{
  position: absolute;
  top:1230%;
  left:60%;
  font-size: 50px;
  font-weight:bold;
  background: transparent;
  padding: 200px 100px 200px 100px;
  color: blueviolet;
  border-radius: 18px;
}
.fa-users{
  font-size: 150px;
  position: absolute;
  left:26%;
  top:10%;
  color: white;
}
.part4bbb{
  position: absolute;
  top: 1280%;
  cursor: pointer;
  left: 67%;
  border-radius: 18px;
  padding: 15px 80px 15px 80px;
  font-size: 18px;
  font-weight: normal;
  color: #4E4E4E;
  background: white;
}
.part4bbb:hover{
  color: white;
  background: #4E4E4E;
}
.advh{
  font-size: 80px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight:bold;
  text-align: left;
  position: absolute;
  top: 1328%;
  left: 10%;
   text-decoration: solid underline orangered 10px;
}
.advp{
  font-size: 25px;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-style: normal;font-weight: 400;
  text-align: center;
  width: 800px;
  position: absolute;
  top: 1368%;
  left: 20%;
}
.advb{
  position: absolute;
  top:1398%;
  left: 45%;
  cursor: pointer;
  border-radius: 25px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-style: normal;font-weight: 400;font-size: 20px;
  color:white;
  background: #4E4E4E;
  padding: 10px 60px 10px 60px;
}
.advb:hover{
  color: #4E4E4E;
  background: white;
}
.rick{
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.txtig{
  font-family: ;font-style: normal;font-weight: 600;font-size: 180px;
  letter-spacing: 2px;
  position: absolute;
  top: 1420%;
  left: 13%;
  /* transform: translate(-50%,-50%); */
  margin: 0;
  background: url(https://images.unsplash.com/photo-1473691955023-da1c49c95c78?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTIwfHxyZWQlMjBhc3RoZXRpY3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
hr{
   width:50%;
   height:12px;
   position: absolute;
   top:1450%;
   left:25%;
   text-align: center;
   background: orangered;
  }
hr1{
  width:35%;
   height:10px;
   position: absolute;
   top:1455%;
   left:32%;
   text-align: center;
   background: palevioletred;
}
hr2{
  width:30%;
   height:12px;
   position: absolute;
   top:200%;
   left:40%;
   text-align: center;
   background: sandybrown;
}
.imgtp{
 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-style: normal;font-weight: 400;font-size: 25px;
  text-align: center;
  width: 800px;
  position: absolute;
  top: 1475%;
  left: 22%;
}
.imgtb{
  position: absolute;
  top:1500%;
  left: 45%;
  cursor: pointer;
  border-radius: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color:white;
  background: #4E4E4E;
  padding: 10px 60px 10px 60px;
}
.imgtb:hover{
  color: #4E4E4E;
  background: white;
}
/* Footer */
footer{
  width: 100%;
  background:black;
  padding: 10% 0% 10% 0%;
  display: block;
  position: absolute;
  top:1520%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-style: normal;font-weight: 400;
}
.fa-home{
  font-size: 40px;
  color: white;
  position: absolute;
  top: 10%;
  left: 0%;
  letter-spacing: 2px;
  cursor: pointer;
}
.footh{
  font-size: 40px;
  color: white;
  position: absolute;
  top: 8%;
  left: 4%;
  font-weight: 500;
  letter-spacing: 2px;
}
.footh1{
  font-size: 25px;
  color: red;
  position: absolute;
  top: 35%;
  left: 1%;
  font-weight: 500;
  letter-spacing: 2px;
}
footer hr{
 width:20%;
   height:5px;
   position: absolute;
   top:44%;
   left:2%;
   text-align: center;
   background: whitesmoke; 
}
.footp{
  font-size: 16px;
  color: white;
  position: absolute;
  top: 58%;
  left: 1%;
  font-weight: normal;
  letter-spacing: 2px;
}
.fa-instagram{
 font-size: 30px;
  color: white;
  position: absolute;
  top: 10%;
  left: 75%;
  letter-spacing: 2px;
  cursor: pointer; 
}
.fa-linkedin{
 font-size: 30px;
  color: white;
  position: absolute;
  top: 10%;
  left: 79%;
  letter-spacing: 2px;
  cursor: pointer; 
}
.fa-facebook-square{
 font-size: 30px;
  color: white;
  position: absolute;
  top: 10%;
  left: 83%;
  letter-spacing: 2px; 
  cursor: pointer;
}
.fa-twitter-square{
 font-size: 30px;
  color: white;
  position: absolute;
  top: 10%;
  left: 87%;
  letter-spacing: 2px; 
  cursor: pointer;
}
.fa-envelope{
 font-size: 30px;
  color: white;
  position: absolute;
  top: 10%;
  left: 91%;
  letter-spacing: 2px; 
  cursor: pointer;
}